@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ravi';
  src: url('/fonts/Ravi-VF.ttf');
}

html {
  font-family: ravi;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}
